


    <div class="card">
      <div class="card-Img-warap">
        <img *ngIf="Property.Image" src="assets/House/{{Property.Image}}" class="card-img-top " alt="defaulthouse">
        <img *ngIf="!Property.Image" src="assets/House/house_default.png" class="card-img-top " alt="defaulthouse">
        <ul *ngIf="! hidenIcon" class="list-item text-center member-icon animation">
          <li class="list-inline-item" ><button routerLink="/property-detail/{{Property.Id}}" class="btn  btn-primary">D</button></li>
          <li class="list-inline-item" ><button class="btn  btn-primary">C</button></li>
        </ul>
      </div>
      <div class="card-body p-2">
        <h1>{{Property.Name}}</h1>
        <h2>{{Property.Type}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div>




