
    <div class="card">
      <div class="card-Img-warap">
        <img *ngIf="Property.Image" src="assets/House/{{Property.Image}}" class="card-img-top " alt="defaulthouse">
        <img *ngIf="!Property.Image" src="assets/House/house_default.png" class="card-img-top " alt="defaulthouse">
        <ul *ngIf="! hidenIcon" class="list-item text-center member-icon animation">
          <li class="list-inline-item" ><button routerLink="/property-detail/{{Property.Id}}" class="btn  btn-primary">D</button></li>
          <li class="list-inline-item" ><button class="btn  btn-primary">C</button></li>
        </ul>
      </div>
      <div class="card-body p-2">
        <h1 class="mb-2">{{Property.BHK}} BHK {{Property.PType}}</h1>
        in {{Property.Name}}
        <span *ngIf="Property.Name">,</span>
        {{Property.City}}

        <h6 class="mt-2">{{Property.FType}} <span *ngIf=" Property.FType !== 'Unfurnished'">
          Furnished | Ready to Move</span>  </h6>

          <hr class="mt-0 mb-2">
          <h6 class="mb-0">Price: <span class="form-highlight">{{Property.Price}} BDT.</span>|
          Area: <span class="form-highlight">{{Property.BuiltArea}} sq Ft</span></h6>

      </div>
    </div>




